<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
      <table class="ListItem">
        <tr>
          <td width="840px" colspan="2"><%= group.name %></td>
        </tr>
        <tr>
          <td class="tag">
            <%= group.description %>
          </td>
          <td width="100px" class="tag">
              contacts: &nbsp;
             <b><%= group.contacts.size %></b>
          </td>           
        </tr>
      </table>