<table>
  <tr>
    <td>
      <%= link_to t("common.add"), new_group_path %>
    </td>
  </tr>
</table>
      

<table class="w100p borderT">
<% @groups.each do |group| %>
  <tr>
    <td><%= link_to render(:partial=>"groups/list_item", :locals => {:group => group}), edit_group_path(group) %></td>
    <td width="50px" align="right"><%= link_to t("common.contacts"), contacts_path(:group_id => group) %></td>
    <td width="50px" align="right"><%= link_to t("common.delete"), group, :confirm => t("common.are_you_sure"), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


