<div class="form_explanation">
  Here you can create a new groups. For examample 'Favorites' or 'My contacts'. Please add to group logical and full description.  
</div>
<%= render 'form' %>

<%= link_to t("common.back"), groups_path %>
